body{
	background-color: grey;
}
.done{
	text-decoration: line-through;
	height: 30px;
	width: 50px;
	background-color: #650502;

}
.not_done{
	color:white;
	height: 30px;
	width: 100px;
	background-color: #4D6292;
}